<!DOCTYPE html>
<html>
<head>
    <title>Angular jQuery Knob demo</title>
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/jquery-knob/js/jquery.knob.js"></script>

    <script src="../src/angular-knob.js"></script>

    <script src="js/example.js"></script>

    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body ng-app='knobApp' ng-controller="exampleCtrl">
    <div class="header">
        <h1>Angular jQuery Knob Examples</h1>
    </div>

    <div class="wrapper">
        Two-way-binding: <input ng-model="data"/>
        <knob knob-data="data" knob-options="options"></knob>

        <hr>

        <div ng-repeat="data in knobData | filter:formatOptions" class="knob-example">
            <pre class="data">{{ data.formattedOptions }}</pre>
            <knob knob-data="data.value" knob-options="data.options"></knob>
        </div>
    </div>
</body>
</html>
